<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
     <div class="links">
        <a href="/login">Log in</a>
        <a href="/list">Pages</a>
        <a href="/home">Log in</a>
    </div>
    create.html
    <h2>Create page</h2>

    <form method="POST">
        <input name="title" placeholder="Title" required><br>
        <textarea name="content" rows="15"></textarea><br>
        <button>Create</button>
    </form>
</body>

</html>