<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <button id="I">How to create an account</button>
        <button id="II">How to create pages</button>
        <button id="III">Editing Pages</button>
        <button id="IIII">Accounts and rules</button>
    </div>
</body>

</html>
<script>
    create = document.getElementById("I")
    pages = document.getElementById("II")
    edit = document.getElementById("III")
    AOR = document.getElementById("IIII")

</script>