<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <button id="I">How to create an account</button>
        <button id="II">How to create pages</button>
        <button id="III">Editing Pages</button>
        <button id="IIII">rules</button>
        <button id="IIIII">Accounts</button>
        <a href="/faq/request"><button>advanced questions</button></a>
    </div>
    <div id="Display"></div>

</body>

</html>
<script>
    create = document.getElementById("I")
    pages = document.getElementById("II")
    edit = document.getElementById("III")
    AOR = document.getElementById("IIII")
    AO1R = document.getElementById("IIIII")

    display = document.getElementById("Display")

    create.addEventListener("click", actions);
    pages.addEventListener("click", pagesc);
    edit.addEventListener("click", editing);
    AOR.addEventListener("click", more);
    AO1R.addEventListener("click", more1)

    function actions() {
        display.innerHTML = "<p>first go to home. then click the register link in the top right corner. then write your prefered username and password and your email. then log in with said username and password</p>"
    }
    function pagesc() {
        display.innerHTML = "go to trough either pages or your profile, click the create link. here you should find a open page for you to write whatever you please. there are no rules beside posting illegal material."
    }
    function editing() {
        display.innerHTML = "go to trough either pages or a selected profile, click the edit link. here you should find the page for you to write whatever you please. there are no rules beside posting illegal material. anyone can edit any page"
    }
    function more() {
        display.innerHTML = '<a>there are no rules besides posting illegal videos.</a>'
    }
    function more1() {
        display.innerHTML = '<a>you can view profiles, you can ask to be deleted by going to Faq/requests. an admin will then delete you at any time.</a>'
    }
</script>
<style>
    #Display {
        width: 500px;
        height: 500px;
        display: flex;
        transition: 1s;
    }
</style>