<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/faq/request">
        <label for="Question">input:</label><br>
        <input type="text" id="question" name="Q" required><br><br>

        <label for="type">Type of question:</label><br>
        <select type="typeR" id="typeR" name="typeR" required>
            <option value="Account Removal">Account removal</option>
            <option value="question">Question</option>
        </select>
        <br><br>


        <button type="submit">Logg Inn</button>
    </form>
</body>

</html>