<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>

<body>
    <div class="LinkBarWikiStyle">
        <div class="LinkBarWikiStyle-section"><a href="/home">
                <p>Home</p>
            </a></div>
        <form method="GET" action="/wiki/">
            <div class="LinkBarWikiStyle-section">
                <input type="text" name="title" placeholder="search">
                <button type="submit">Search</button>
            </div>
        </form>
        <div class="LinkBarWikiStyle-section1"><a href="/pages">
                <p>Pages</p>
            </a></div>

        {% if session.get('user') %}

        <div class="LinkBarWikiStyle-section">
            <a href="/profile">
                <p>profile</p>
            </a>

        </div>
        {% else %}
        <div class="LinkBarWikiStyle-section1">
            <a href="/login">
                <p>log in</p>
            </a>
            <a href="/registrer">
                <p>register</p>
            </a>

        </div>
        {% endif %}



    </div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>type of question</th>
            <th>When asked</th>
            <th>Answer</th>

        </tr>
        {% for q in query %}
    
        <tr>
            <td> {{ q.id }} </td>
            <td> {{ q.sporsmal }} </td>
            <td> {{ q.type }} </td>
            <td> {{ q.opprettet}} </td>
            <td> {{ q.Answer }} </td>
        </tr>
        {% endfor %}


    </table>
</body>

</html>