<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="LinkBarWikiStyle">
        <div class="LinkBarWikiStyle-section"><a href="/home">
                <p>Home</p>
            </a></div>
        <div class="LinkBarWikiStyle-section">
            <input type="text" id="search" placeholder="search" name="search">
            <input type="submit" value="search">
        </div>
        <div class="LinkBarWikiStyle-section1"><a href="/pages">
                <p>Pages</p>
            </a></div>

        {% if session.get('user') %}

        <div class="LinkBarWikiStyle-section">
            <a href="profile.html">
                <p>profile</p>
            </a>

        </div>
        {% else %}
        <div class="LinkBarWikiStyle-section1">
            <a href="/login">
                <p>log in</p>
            </a>
             <a href="/register">
                <p>register</p>
            </a>

        </div>
        {% endif %}

      

    </div>
    <div class="main">
    </div>
</body>

</html>