<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <header>
        <div class="link"><a href="/login">Log in</a></div>
        <div class="link"><a href="/pages">Pages</a></div>
        <div class="link"><a href="/home">Log in</a></div>
    </header>
    <div class="everything else"></div>
</body>

</html>