<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innlogging</title>
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <header>
        <div class="link"><a href="/login">Log in</a></div>
        <div class="link"><a href="/pages">Pages</a></div>
        <div class="link"><a href="/home">Log in</a></div>
    </header>
    <h2>Logg Inn</h2>
    <form method="POST" action="/login">
        <label for="brukernavn">Brukernavn:</label><br>
        <input type="text" id="brukernavn" name="brukernavn" required><br><br>

        <label for="passord">Passord:</label><br>
        <input type="password" id="passord" name="passord" required><br><br>

        <button type="submit">Logg Inn</button>
    </form>

    {% if feil_melding %}
    <p style="color: red;">{{ feil_melding }}</p>
    {% endif %}
</body>

</html>