<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>

<body>



    <table border="1">
        <th>Name</th>
        <th>email</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        </tr>
        <td>{{Name}}</td>
        <td>{{email}}</td>
        <td>{{bon}}</td>
        <td>{{role}}</td>
        <td>{{created}}</td>
        <td>{{LastUsed}}</td>


    </table>

</body>

</html>