<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <header>
        <div class="link"><a href="/login">Log in</a></div>
        <div class="link"><a href="/pages">Pages</a></div>
        <div class="link"><a href="/home">Log in</a></div>
    </header>
    <h1>{{ page.Title }}</h1>

    <div>
        {{ page.Content }}
    </div>

    <a href="{{ url_for('edit_page', slug=page.Slug) }}">Edit</a>
</body>

</html>